/autom4te.cache
/config.cache
/config.h
/config.status
/.settings/
/src/.deps/
/src/*.o
/src/mbusd
/doc/mbusd.8
Makefile
*.log
*~

debian/*.substvars
debian/*.log
debian/*.debhelper
debian/autoreconf.*
debian/files
debian/mbusd/
